html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fullpage{
    position: relative;
    z-index: 10;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar{
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 20%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
    /* border-radius: 20px; */
}
.mainpage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    /* background-color: #FFFD92; */
    border-radius: 20px;
}
.mainpage .todo-container {
    width: 500px;
    min-height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .todo-container img{
    width: 150px;
   
    object-fit: cover;
  }
  .todo-container h2 {
    font-size: 35px;
    color: coral;
  }
  
  .todo-container .todo-input {
    padding-top: 50px;
  }
  .todo-input input, .todo-search input {
    font-size: 15px;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
    background-color:rgba(226, 224, 224, 0.76);
    outline: none;
    color: rgb(75, 73, 73);
  }
  .todo-input #txt-input {
    width: 300px;
    height: 35px;
  }
  .todo-search #txt-search {
    margin-top: 10px;
    width: 260px;
    height: 35px;
  }
  .todo-input .btn-add {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color:coral;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-add .btn{
   
   font-size: 10px; 
  }
  .todo-input .todo-content {
    padding: 30px 0px;
    
  }
  
  ul li {
    width: 100%;
    margin-bottom: 10px;
    list-style: none;
    font-size: 15px;
    border-radius: 10px;
    background-color: #e3e0e0cf;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.9s ease;
  }
  li:hover{
    background-color:  rgb(255, 255, 187)  ;
  }
  .check{
  text-decoration: line-through;
  }
  .check-li{
    background-color: rgb(255, 255, 187);
    border-radius: 10px;
    color: #AAA;
  }
  
  ul li p .checked{
    width: 20px;
    margin-right: 10px;
  }
  ul li p{
    display: flex;
    align-items: center;
  }
  .navbar {
    padding-left: 10px;
  }
  .sidebar .profile .avatar{
		background:rgba(0,0,0,0.1);
		padding:2em 0.5em;
		text-align:center;
	}

  .sidebar .profile .avatar .avatar-img{
    width:100px;
    border-radius:50%;
    overflow:hidden;
    border:4px solid #ffea92;
    box-shadow:0 0 0 4px rgba(255,255,255,0.2);
  }
  
  .sidebar .profile .avatar h2{
    font-weight:normal;
    margin-bottom:0;
  }
  .navbar .items .sidenav{
		list-style:none;
		padding:0.5em 0;
		margin:0;
  }
  .navbar .items .sidenav .nav-item{
    display: flex;
    padding:0.5em 1em 0.5em 1em;
    font-size:0.95em;
    font-weight:regular;
    width: 250px;
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border: solid 1px #ffea92;
  }
  .task-icons {
    display: flex;
    column-gap: 5px;
  }

  